.path-login #page {
    max-width: 100%;
}

.path-login .login-identityprovider-btn.facebook {
    background-color: #1877f2;
    color: #4a8b40;
}

/* ================= LOGIN INDEX ================= */

#page-login-index .login-container {
    background-color: initial;
    box-shadow: none;
    padding: 0;
}

#page-login-index .login-container .loginform {
    margin: 0 auto;
    background-color: #750707;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
}

#page-login-index .login-container .loginform .left-column {
    padding-right: 2rem;
}

#page-login-index .login-container .loginform .right-column {
    padding-left: 2rem;
    border-left: 1px solid #750707;
}

#page-login-index .login-container .loginform .right-column .column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* ================= SIGNUP ================= */

#page-login-signup #page-content {
    padding-top: 2rem;
}

/* ================= MEDIA QUERIES ================= */

/* md up (≥768px تقريبًا) */
@media (min-width: 768px) {

    #page-login-index .login-container {
        max-width: 100%;
        width: 100% !important;
    }

    #page-login-index .loginform {
        width: 40%;
    }

    #page-login-index .loginform.hastwocolumns {
        width: 60%;
    }

    .login-container {
        width: 100% !important;
    }
}

/* md down (<768px) */
@media (max-width: 767px) {

    #page-login-index #page {
        padding-top: 1rem;
    }

    #page-login-index .login-container .loginform .left-column {
        padding-right: 0;
    }

    #page-login-index .login-container .loginform .right-column {
        padding-left: 0;
        border-left: none;
    }

    #page-login-index .login-container .loginform .right-column .column-content {
        display: block;
    }

    #page-login-index .login-container .loginform .right-column .column-content .login-heading {
        margin-top: 1rem;
    }

    #page-login-signup #page-content {
        padding-top: 15px;
    }

    #page-login-signup #page-content .login-container {
        max-width: 100%;
        padding: 1rem;
    }

    #page-login-signup #page-content .login-container .mform {
        padding: 0;
    }

    #page-login-signup #page-content .login-container .mform #fgroup_id_buttonar .col-md-9 .d-flex.flex-wrap.align-items-center {
        flex-direction: column;
    }

    #page-login-signup #page-content .login-container .mform #fgroup_id_buttonar .col-md-9 .d-flex.flex-wrap.align-items-center #id_submitbutton {
        margin-bottom: 1rem;
    }
}
